@{
    ViewBag.Title = "Index";
}

<div data-role="header">
    <h2>Index</h2>
</div>

<div data-role="content">
    <ul data-role="listview">
        <li>@Html.ActionLink("Recipes", "Index", "Recipes")</li>
        <li>@Html.ActionLink("Shopping Lists", "Index", "ShoppingLists")</li>
        <li>@Html.ActionLink("Menu", "Details", "Menus")</li>
    </ul>
</div>