@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Recipes", "Index", "Recipes")</li>
    <li>@Html.ActionLink("Shopping Lists", "Index", "ShoppingLists")</li>
    <li>@Html.ActionLink("Menu", "Details", "Menus")</li>
</ul>