@model HomeManager.Models.ShoppingList
<div data-role="fieldcontain">
    @Html.LabelFor(model => model.Store)
    @Html.EditorFor(model => model.Store)
    @Html.ValidationMessageFor(model => model.Store)
</div>