@model HomeManager.Models.ShoppingList

@{
    ViewBag.Title = "Details";
}

<div data-role="header">
    <h2>@Model.Store</h2>
    <a href="@Url.Action("Clear", new { id = Model.Id })" data-ajax="false">Clear</a>
    <a href="@Url.Action("Shop", new { id = Model.Id })" data-ajax="false">Shop</a>
</div>

<div data-role="content">
@{
    Html.RenderAction("ListAdd", "ShoppingListItems", new { ShoppingListId = Model.Id });
}
</div>

<div data-role="footer">
    @Html.ActionLink("Back to List", "Index")
</div>
