@model HomeManager.Models.ShoppingList

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Store</h2>

<div id="shoppinglist">
@{
    Html.RenderAction("ListAdd", "ShoppingListItems", new { ShoppingListId = Model.Id });
}
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Head{
    <script type="text/javascript">
        function setSortable() {
            $('#shoppinglistitems').sortable({
                placeholder: 'ui-state-highlight',
                update: function (event, ui) {
                    var idAttr = $(ui.item).attr('id');
                    var listItems = $(this).sortable('toArray');
                    var rank = -1;

                    var id = idAttr.substring(idAttr.indexOf('_') + 1);
                    for (var i = 0; i < listItems.length; i++) {
                        if (listItems[i] == idAttr) {
                            rank = i;
                            break;
                        }
                    }

                    if (rank >= 0) {
                        $('#shoppinglist').load(
                            '/ShoppingListItems/UpdateRank',
                            {
                                id: id,
                                rank: rank
                            },
                            function () {
                                load();
                                setSortable();
                            }
                        );
                    }
                }
            });
        }
        $(document).ready(function () {
            setSortable();
        });
    </script>
}