@model IEnumerable<HomeManager.Models.Recipe>

@{
    ViewBag.Title = "Index";
}

<div data-role="header">
    <h2>Recipes</h2>
</div>

<div data-role="content">
    <ul data-role="listview">
        <li>@Html.ActionLink("Create New Recipe", "Create")</li>
    @foreach (var item in Model) {
        <li>
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new RouteValueDictionary { { "id", item.Id } }, new Dictionary<string, object> { { "data-role", "button" }, { "data-icon", "delete" } })
        </li>
    }
    </ul>
</div>

<div data-role="footer">
    @Html.ActionLink("Home", "Index", "Home")
</div>