<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="logger" type="Logger.LoggerConfigHandler,Logger"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DirMirror.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
    </configSections>

	<logger>
		<logger type="Logger.ConsoleLogger,Logger" level="Error" />
		<logger type="Logger.FileLogger,Logger" level="Debug">
			<param type="System.String" value="C:\DirMirror.log" />
		</logger>
	</logger>

	<userSettings>
        <DirMirror.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value>G:\Temp</value>
            </setting>
        </DirMirror.Properties.Settings>
    </userSettings>
</configuration>